<a href="https://colab.research.google.com/github/Snehags10/Data-Science-and-Analytics-Assignements/blob/main/Python%20practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [ ]:
import math

radius = float(input("Enter the radius: "))

area = math.pi * radius ** 2

print("Area of Circle is", area)

Enter the radius: 3
Area of Circle is 28.274333882308138

2.Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78

In [ ]:

name = input("Enter the name: ")
roll_number = input("Enter the roll number: ")
mark = input("Enter the mark: ")
print("\nName:", name)
print("Roll No:", roll_number)
print("Mark:", mark)

Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78

Name: Anisha
Roll No: 21
Mark: 78

3. Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number

In [ ]:

numbers = input("Enter numbers separated by commas: ")

number_list = [int(num) for num in numbers.split(',')]

largest_number = max(number_list)
print(f"{largest_number} is the largest number")

Enter numbers separated by commas: 12,3,47,10
47 is the largest number

4.Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [ ]:

prev_num = 0

for curr_num in range(1, 11):
    total = curr_num + prev_num
    print(f"Current Number {curr_num} Previous Number {prev_num} Sum: {total}")
    prev_num = curr_num

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

5. Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [ ]:

numbers = input("Enter numbers separated by commas: ")
number_list = [int(num) for num in numbers.split(',')]
divisible_by_five = [num for num in number_list if num % 5 == 0]
print("Numbers divisible by 5:", ", ".join(map(str, divisible_by_five)))

Enter numbers separated by commas: 10, 20,33,46,55
Numbers divisible by 5: 10, 20, 55

6. Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number.

In [ ]:

def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True
num = int(input("Enter the number: "))
if is_prime(num):
    print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

Enter the number: 3
3 is a prime number.

7. Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [ ]:

numbers = input("Enter numbers separated by commas: ")
number_list = [int(num) for num in numbers.split(',')]
reversed_list = []
for i in range(len(number_list) - 1, -1, -1):
    reversed_list.append(number_list[i])
print("Reversed list:", ", ".join(map(str, reversed_list)))

Enter numbers separated by commas: 10,40,30,70
Reversed list: 70, 30, 40, 10

8. Write a Python program to print the following pattern.
*
**
***
****

In [ ]:
rows = 4
for i in range(1, rows + 1):
    print('*' * i)

*
**
***
****

9. Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [ ]:
num1, num2, num3 = map(int, input("Enter three numbers separated by commas: ").split(','))
maximum = max(num1, num2, num3)
print("The maximum number is:", maximum)

Enter three numbers separated by commas: 34,12,7
The maximum number is: 34

10. Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*

In [ ]:
rows = 5
for i in range(1, rows + 1):
    print('*' * i)
for i in range(rows - 1, 0, -1):
    print('*' * i)

*
**
***
****
*****
****
***
**
*